{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Poppins', 'sans-serif'],
                    },
                }
            }
        }
    </script>
    <style>
        .form-container {
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }
        .form-enter {
            opacity: 0;
            transform: translateY(20px);
        }
        .form-enter-active {
            opacity: 1;
            transform: translateY(0);
        }
        .form-exit {
            opacity: 1;
            transform: translateY(0);
        }
        .form-exit-active {
            opacity: 0;
            transform: translateY(-20px);
        }
        .dropdown-menu {
            display: none;
        }
        .dropdown-menu.show {
            display: block;
        }


        @keyframes slideInRight {
            0% {
                transform: translateX(50%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        .animate-slide-in-right {
            animation: slideInRight 0.5s ease-out forwards;
        }

        .animate-fade-out {
            animation: fadeOut 0.5s ease-in forwards;
        }

        .htmx-indicator {
            display: inline-block; /* Ensures it displays inline */
            font-weight: bold;
            color: blue; /* Change color if needed */
            /* Add more styles for better visibility */
        }

        .hidden {
            display: none; /* Ensure the hidden class actually hides elements */
        }
    </style>
</head>
<body class="container min-h-screen font-sans transition-colors duration-300" id="body">
    <!-- show the nice Notifications -->
    {% if messages %}
        <div id="toast-container" class="fixed top-5 right-5 space-y-4 z-50">
            {% for message in messages %}
                <div id="toast-{{ forloop.counter }}" class="toast flex items-center justify-between bg-{{ message.tags }}-100 text-{{ message.tags }}-800 px-4 py-2 rounded-lg shadow-lg transition transform ease-out duration-300 translate-x-5 opacity-0 animate-slide-in-right">
                    <div class="flex items-center">
                        <!-- Icon based on message type -->
                        {% if message.tags == 'success' %}
                            <svg class="w-5 h-5 mr-2 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
                        {% elif message.tags == 'error' %}
                            <svg class="w-5 h-5 mr-2 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                        {% elif message.tags == 'warning' %}
                            <svg class="w-5 h-5 mr-2 text-yellow-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M8 16h8" /></svg>
                        {% endif %}
                        {{ message }}
                    </div>
                    <!-- Close button -->
                    <button onclick="closeToast('toast-{{ forloop.counter }}')" class="ml-4 text-{{ message.tags }}-800 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        function closeToast(id) {
            const toast = document.getElementById(id);
            if (toast) {
                // Trigger the fade-out animation
                toast.classList.add('animate-fade-out');
                // Remove the toast after the animation completes (0.5s delay)
                setTimeout(() => {
                    toast.remove();
                }, 500);
            }
        }
    
        // Automatically remove the toast after 5 seconds
        setTimeout(() => {
            document.querySelectorAll('.toast').forEach(toast => toast.classList.add('animate-fade-out'));
            setTimeout(() => document.querySelectorAll('.toast').forEach(toast => toast.remove()), 500);
        }, 15000);  // 5-second delay
    </script>
    
    <div class="container mx-auto px-4 py-12">
        <header class="text-center mb-12">
            <nav class="" id="main-nav">
                <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        
                        <div class="ml-auto items-center z-10">
                        
                            <div class="ml-3 relative">
                                <div>
                                    <button type="button" class="flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-opacity-50" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-12 w-12 rounded-full shadow-md" src="/media/user_profile_images/user.png" alt="User Image">
                                    </button>
                                </div>
                                
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none dropdown-menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                                    <h2 class="block font-bold px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-99">{{ username }}</h2>
                                    
                                    <!-- Color Palette Selector -->
                                    <div class="px-4 py-2">
                                        <label for="color-palette" class="block text-sm font-medium text-gray-700 mb-1">Choose Color Palette</label>
                                        <select id="color-palette" onchange="changeColorPalette()" class="w-full px-2 py-1 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50 text-sm">
                                            <option value="indigo">Indigo Breeze</option>
                                            <option value="emerald">Emerald Oasis</option>
                                            <option value="amber">Amber Glow</option>
                                            <option value="rose">Rose Petal</option>
                                        </select>
                                    </div>
                                    <hr>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="0" id="user-menu-item-0">Your Profile</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-2">Notifications</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-3">Help & Support</a>
                                    
                                    <form method="POST" action="{% url 'expense_tracker:logout_page' %}" class="inline w-full">
                                        {% csrf_token %}
                                        <button type="submit" class="w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-4">
                                            Logout
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <h1 class="text-4xl font-bold mb-4 text-gray-800">Expense Tracker</h1>
            
            
        </header>
        
        <!-- Balance Boxes -->
        <!-- <div id="balance-boxes" class="grid gap-6 mb-12">
        </div> -->
        <div id="balance-boxes" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mb-12">
            {% for account, balance in funds_summary.items %}
                <div class="bg-white p-6 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-300 text-center">
                    <h2 class="text-xl font-semibold mb-2 text-gray-700">{{ account|title }}</h2>
                    
                        
                    <!-- {{ balance|floatformat:2 }} -->
                    {% if balance < 0 %}
                        <p class="text-3xl font-bold" id="balance{{ forloop.counter }}">
                        <span class="text-red-700">PKR {{ balance|floatformat:2 }}</span></p>
                    {% else %}
                        <p class="text-3xl font-bold text-red-600" id="balance{{ forloop.counter }}">
                        PKR {{ balance|floatformat:2 }}</p>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>

        <!-- Form Buttons -->
        <div class="flex justify-center space-x-4 mb-6">
            <button onclick="showForm('expense')" id="expense-btn" class="px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Add Expense</button>
            <button onclick="showForm('funds')" id="funds-btn" class="px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Add Funds</button>
            <button onclick="showForm('add_payment_method')" id="payment-btn" class="px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Create Payment Method</button>
            
        </div>
        
        <!-- Form Container -->
        <div id="form-container" class="bg-white p-8 rounded-xl shadow-lg mb-12 form-container">
            <!-- Add Expense Form -->
            <div id="expense-form">
                <h2 class="text-2xl font-semibold mb-6 text-gray-800">Add Expense</h2>
                <form class="space-y-6" method="POST" action="{% url 'expense_tracker:expense_dashboard' %}">
                    {% csrf_token %}

                    <!-- Display non-field errors -->
                    {% if form3.non_field_errors %}
                        <p class="text-red-600 text-sm mt-1">{{ form3.non_field_errors.as_text }}</p>
                    {% endif %}

                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div>
                            <label for="date" class="block text-sm font-medium text-gray-700 mb-1">Date</label>
                            <input type="date" id="date" name="date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" required>
                            {% if form3.date.errors %}
                                <div class="text-red-500 text-sm">{{ form3.date.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="amount" class="block text-sm font-medium text-gray-700 mb-1">Amount</label>
                            <input type="number" id="amount" name="amount" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="0.00" step="0.01" required>
                            {% if form3.amount.errors %}
                                <div class="text-red-500 text-sm">{{ form3.amount.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                        <div>
                            <label for="category" class="block text-sm font-medium text-gray-700 mb-1">Category</label>
                            <select id="category" name="category" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                                <option value="food">Food</option>
                                <option value="transportation">Transportation</option>
                                <option value="entertainment">Entertainment</option>
                                <option value="utilities">Utilities</option>
                                <option value="rent">Rent</option>
                                <option value="groceries">Groceries</option>
                                <option value="healthcare">Healthcare</option>
                                <option value="insurance">Insurance</option>
                                <option value="shopping">Shopping</option>
                                <option value="subscriptions">Subscriptions</option>
                                <option value="education">Education</option>
                                <option value="savings">Savings</option>
                                <option value="investments">Investments</option>
                                <option value="debts">Debts</option>
                                <option value="travel">Travel</option>
                                <option value="gifts">Gifts</option>
                                <option value="charity">Charity</option>
                                <option value="taxes">Taxes</option>
                                <option value="maintenance">Maintenance</option>
                                <option value="pets">Pets</option>
                                <option value="childcare">Childcare</option>
                                <option value="personal_care">Personal Care</option>
                                <option value="other">Other</option>
                            </select>
                            {% if form3.category.errors %}
                                <div class="text-red-500 text-sm">{{ form3.category.errors }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <label for="payment-method" class="block text-sm font-medium text-gray-700 mb-1">Payment Method</label>
                            <select id="payment-method" name="payment-method" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                                {% for method in payment_methods %}
                                    <option value="{{ method.id }}">{{ method.method_name | title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                        <input type="text" id="description" name="description" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="Enter description">
                        {% if form3.description.errors %}
                            <div class="text-red-500 text-sm">{{ form3.description.errors }}</div>
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit" name="submit_form" value="expense_form" id="submit-btn" class="w-full text-white py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Add Expense</button>
                    </div>
                </form>
            </div>

            <div id="funds-form" class="hidden">
                <h2 class="text-2xl font-semibold mb-6 text-gray-800">Add Funds</h2>
                <form class="space-y-6" method="post"> <!-- Added method="post" for form submission -->
                    {% csrf_token %} <!-- Added CSRF token for security -->
            
                    <!-- Display non-field errors -->
                    {% if form2.non_field_errors %}
                        <p class="text-red-600 text-sm mt-1">{{ form2.non_field_errors.as_text }}</p>
                    {% endif %}
                    
                    <div>
                        <label for="funds-date" class="block text-sm font-medium text-gray-700 mb-1">Date Added</label>
                        <input type="date" id="funds-date" name="funds_date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" required>
                    </div>
                    
                    <div>
                        <label for="funds-amount" class="block text-sm font-medium text-gray-700 mb-1">Amount</label>
                        <input type="number" id="funds-amount" name="amount" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="0.00" step="0.01" required>
                        {% if form2.amount.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form2.amount.errors.as_text }}</p>
                        {% endif %}
                    </div>
            
                    <div>
                        <label for="funds-account" class="block text-sm font-medium text-gray-700 mb-1">Account</label>
                        <select id="funds-account" name="funds_account" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                            <option value="" disabled selected>Select payment method</option>
                            {% for method in payment_methods %}
                                <option value="{{ method.id }}">{{ method.method_name }}</option>
                            {% endfor %}
                        </select>
                        
                        
                    </div>
            
                    <div>
                        <label for="funds-source" class="block text-sm font-medium text-gray-700 mb-1">Source</label>
                        <input type="text" id="funds-source" name="source_details" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="Enter source of funds">
                        {% if form2.source.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form2.source.errors.as_text }}</p>
                        {% endif %}
                    </div>
            
                    <div>
                        <button type="submit" name="submit_form" value="funds_form" id="add-funds-btn" class="w-full text-white py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Add Funds</button>
                    </div>
                </form>
            </div>
            

            <!-- Create Payment Method Form -->
            <div id="payment-form" class="hidden">
                <h2 class="text-2xl font-semibold mb-6 text-gray-800">Create Payment Method</h2>
                
                <form class="space-y-6" method="post" action="{% url 'expense_tracker:expense_dashboard' %}">
                    {% csrf_token %}
                    <div>
                        <label for="id_method_name" class="block text-sm font-medium text-gray-700 mb-1">Payment Method Name</label>
                        <input type="text" id="id_method_name" name="method_name" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="Enter payment method name" value="{{ form1.method_name.value|default_if_none:'' }}" required>
                        {% if form1.method_name.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form1.method_name.errors.as_text }}</p>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="id_method_type" class="block text-sm font-medium text-gray-700 mb-1">Type</label>
                        <select id="id_method_type" name="method_type" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" required>
                            <option value="" disabled selected>Select payment type</option>
                            <option value="bank_account" {% if form1.method_type.value == 'bank_account' %}selected{% endif %}>Bank Account</option>
                            <option value="credit_card" {% if form1.method_type.value == 'credit_card' %}selected{% endif %}>Credit Card</option>
                            <option value="digital_wallet" {% if form1.method_type.value == 'digital_wallet' %}selected{% endif %}>Digital Wallet</option>
                            <option value="other" {% if form1.method_type.value == 'other' %}selected{% endif %}>Other</option>
                        </select>
                        {% if form1.method_type.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form1.method_type.errors.as_text }}</p>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="id_additional_details" class="block text-sm font-medium text-gray-700 mb-1">Details</label>
                        <input type="text" id="id_additional_details" name="additional_details" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50" placeholder="Enter payment method details" value="{{ form1.additional_details.value|default_if_none:'' }}">
                        {% if form1.additional_details.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ form1.additional_details.errors.as_text }}</p>
                        {% endif %}
                    </div>
                
                    <div>
                        <button type="submit" name="submit_form" value="payment_form" id="create-payment-btn" class="w-full text-white py-2 px-4 rounded-lg bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Create Payment Method</button>
                    </div>
                </form>
                

                <h3 class="text-xl font-semibold mt-9 mb-6 text-gray-800">Manage Payment Methods</h3>
                <div id="payment-methods-list" class="space-y-4">
                    {% for method in payment_methods %}
                        <div class="flex justify-between items-center bg-gray-100 p-4 rounded-lg mb-4">
                            <span class="text-lg font-medium">{{ method.method_name }}</span>
                            <form method="post" action="{% url 'expense_tracker:delete_payment_method' %}">
                                {% csrf_token %}
                                <input type="hidden" name="method_id" value="{{ method.id }}">
                                <button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 transition-colors duration-300">
                                    Remove
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Expense History -->
        <div id="expenses_history_section" class="hidden bg-white p-8 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold mb-6 text-gray-800">Expense History</h2>
            <form hx-get="{% url 'expense_tracker:filter_expenses' %}" hx-target="#expenses_history_content" hx-swap="outerHTML" class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 space-y-4 sm:space-y-0">
                <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 w-full sm:w-auto">
                    <div class="w-full sm:w-auto">
                        <label for="start-date" class="block text-sm font-medium text-gray-700 mb-1">Start Date</label>
                        <input type="date" id="start-date" name="start_date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                    </div>
                    <div class="w-full sm:w-auto">
                        <label for="end-date" class="block text-sm font-medium text-gray-700 mb-1">End Date</label>
                        <input type="date" id="end-date" name="end_date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                    </div>
                </div>
                <button type="submit" id="filter-expenses-btn" class="w-full sm:w-auto bg-blue-500 text-white py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Filter</button>
            </form>
            
            
            
            <!-- Div where the filtered expenses will be loaded -->
            <div id="expenses_history_content">
                <div class="mt-6 text-right hidden">
                    <h3 class="text-xl font-semibold text-gray-800">Total Expenses: <span id="total-expenses" class="font-bold"></span></h3>
                </div>
            </div>

            
        </div>


        <!-- Funds History -->
        <div id="funds_history_section" class="hidden bg-white p-8 rounded-xl shadow-lg">
            <h2 class="text-2xl font-semibold mb-6 text-gray-800">Funds History</h2>
            <form hx-get="{% url 'expense_tracker:filter_expenses' %}" hx-target="#expenses_history_table" hx-swap="outerHTML" class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 space-y-4 sm:space-y-0">
                <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 w-full sm:w-auto">
                    <div class="w-full sm:w-auto">
                        <label for="start-date" class="block text-sm font-medium text-gray-700 mb-1">Start Date</label>
                        <input type="date" id="start-date" name="start_date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                    </div>
                    <div class="w-full sm:w-auto">
                        <label for="end-date" class="block text-sm font-medium text-gray-700 mb-1">End Date</label>
                        <input type="date" id="end-date" name="end_date" class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
                    </div>
                </div>
                <button type="submit" id="filter-funds-btn" class="w-full sm:w-auto bg-blue-500 text-white py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300">Filter</button>
            </form>
           
            <div class="mb-4">
                <input type="text" id="search-input" placeholder="Search funds..." class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-opacity-50">
            </div>
            
            <!-- Div where the filtered expenses will be loaded -->
            <div id="expenses_history_table"></div>

            
            <!-- Total Expenses -->
            <div class="mt-6 text-right">
                <h3 class="text-xl font-semibold text-gray-800">Total Funds: <span id="total-funds" class="font-bold">$0.00</span></h3>
            </div>
        </div>



    </div>
   
    <script>
        // // Event listener for the select all checkbox
        // document.getElementById('select-all').addEventListener('change', function() {
        //     const checkboxes = document.querySelectorAll('#expense-table tbody input[type="checkbox"]');
        //     checkboxes.forEach(checkbox => checkbox.checked = this.checked);
        // });
        // Set default date to today for the "Add Expense" form
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('date').value = today;
            
            // Load saved color palette or set default
            const savedPalette = localStorage.getItem('colorPalette') || 'indigo';
            document.getElementById('color-palette').value = savedPalette;
            changeColorPalette(savedPalette);
        });

        // Payment methods array
        // const paymentMethods = [
        //     { name: "Meezan Bank", balance: 1234.56 },
        //     { name: "Cash", balance: 567.89 },
        //     { name: "Other", balance: 321.00 },
        //     { name: "Askari Bank", balance: 789.12 },
        //     { name: "NayaPay", balance: 456.78 }
        // ];

        // // Function to generate balance boxes
        // function generateBalanceBoxes() {
        //     const balanceBoxesContainer = document.getElementById('balance-boxes');
        //     balanceBoxesContainer.innerHTML = ''; // Clear existing boxes

        //     const boxCount = paymentMethods.length;
        //     let gridClass;

        //     if (boxCount === 1) {
        //         gridClass = 'grid-cols-1';
        //     } else if (boxCount === 2) {
        //         gridClass = 'grid-cols-1 sm:grid-cols-2';
        //     } else if (boxCount === 3) {
        //         gridClass = 'grid-cols-1 sm:grid-cols-3';
        //     } else if (boxCount === 4) {
        //         gridClass = 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-4';
        //     } else {
        //         gridClass = 'grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5';
        //     }

        //     balanceBoxesContainer.className = `grid ${gridClass} gap-6 mb-12`;

        //     paymentMethods.forEach((method, index) => {
        //         const box = document.createElement('div');
        //         box.className = "bg-white p-6 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-300 text-center";
        //         box.innerHTML = `
        //             <h2 class="text-xl font-semibold mb-2 text-gray-700">${method.name}</h2>
        //             <p class="text-3xl font-bold" id="balance${index + 1}">$${method.balance.toFixed(2)}</p>
        //         `;
        //         balanceBoxesContainer.appendChild(box);
        //     });
        // }

        // Set default date to today for the "Add Expense" form
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('date').value = today;
            
            // Load saved color palette or set default
            const savedPalette = localStorage.getItem('colorPalette') || 'indigo';
            document.getElementById('color-palette').value = savedPalette;
            


            const userMenuButton = document.getElementById('user-menu-button');
            const dropdownMenu = document.querySelector('.dropdown-menu');
            let isOpen = false;

            function toggleMenu() {
                isOpen = !isOpen;
                dropdownMenu.classList.toggle('show', isOpen);
                userMenuButton.setAttribute('aria-expanded', isOpen);
            }

            userMenuButton.addEventListener('click', function(event) {
                event.stopPropagation();
                toggleMenu();
            });

            document.addEventListener('click', function(event) {
                if (isOpen && !dropdownMenu.contains(event.target)) {
                    toggleMenu();
                }
            });
            // Generate balance boxes
            // generateBalanceBoxes();

            changeColorPalette(savedPalette);

            
        });

        // Calculate total expenses for the selected date range
        function calculateTotal() {
            const startDate = document.getElementById('start-date').value;
            const endDate = document.getElementById('end-date').value;
            const table = document.getElementById('expense-table');
            const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            let total = 0;

            for (let i = 0; i < rows.length; i++) {
                const date = rows[i].getElementsByTagName('td')[0].innerText;
                if (date >= startDate && date <= endDate) {
                    const amount = parseFloat(rows[i].getElementsByTagName('td')[3].innerText);
                    total += amount;
                }
            }

            document.getElementById('total-expenses').innerText = '$' + total.toFixed(2);
        }

        // Change color palette
        function changeColorPalette(savedPalette) {
            const palette = savedPalette || document.getElementById('color-palette').value;
            const body = document.getElementById('body');
            const submitBtn = document.getElementById('submit-btn');
            const filterBtn1 = document.getElementById('filter-expenses-btn');
            const filterBtn2 = document.getElementById('filter-funds-btn');
            const totalExpenses = document.getElementById('total-expenses');
            const expenseBtn = document.getElementById('expense-btn');
            const fundsBtn = document.getElementById('funds-btn');
            const paymentBtn = document.getElementById('payment-btn');
            const addFundsBtn = document.getElementById('add-funds-btn');
            const createPaymentBtn = document.getElementById('create-payment-btn');
            const nav = document.getElementById('main-nav');
            const userMenuButton = document.getElementById('user-menu-button');

           
            
            let primary, secondary, accent, background;

            switch (palette) {
                case 'indigo':
                    primary = 'bg-indigo-600 hover:bg-indigo-700';
                    secondary = 'bg-blue-500 hover:bg-blue-600';
                    accent = 'text-indigo-600';
                    background = 'bg-gradient-to-br from-indigo-100 to-purple-100';
                    break;
                case 'emerald':
                    primary = 'bg-emerald-600 hover:bg-emerald-700';
                    secondary = 'bg-teal-500 hover:bg-teal-600';
                    accent = 'text-emerald-600';
                    background = 'bg-gradient-to-br from-emerald-100 to-teal-100';
                    break;
                case 'amber':
                    primary = 'bg-amber-600 hover:bg-amber-700';
                    secondary = 'bg-orange-500 hover:bg-orange-600';
                    accent = 'text-amber-600';
                    background = 'bg-gradient-to-br from-amber-100 to-yellow-100';
                    break;
                case 'rose':
                    primary = 'bg-rose-600 hover:bg-rose-700';
                    secondary = 'bg-pink-500 hover:bg-pink-600';
                    accent = 'text-rose-600';
                    background = 'bg-gradient-to-br from-rose-100 to-pink-100';
                    break;
            }

            body.className = `min-h-screen font-sans transition-colors duration-300 ${background}`;
            submitBtn.className = `w-full text-white py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary}`;
            filterBtn1.className = `w-full sm:w-auto text-white py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary}`;
            filterBtn2.className = `w-full sm:w-auto text-white py-2 px-6 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary}`;
            totalExpenses.className = `font-bold ${accent}`;
            expenseBtn.className = `px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary} text-white`;
            fundsBtn.className = `px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${secondary} text-white`;
            paymentBtn.className = `px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary} text-white`;
            addFundsBtn.className = `w-full text-white py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${secondary}`;
            createPaymentBtn.className = `w-full text-white py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300 ${primary}`;

            nav.className = ``;
            userMenuButton.className = `flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-opacity-50 focus:ring-${savedPalette}-500`;

            // Update dropdown menu item hover states
            const menuItems = document.querySelectorAll('.dropdown-menu a');
            menuItems.forEach(item => {
                item.className = `block px-4 py-2 text-sm text-gray-700 hover:${primary} hover:text-white`;
            });
            const menuButtons = document.querySelectorAll('.dropdown-menu button');
            menuButtons.forEach(item => {
                item.className = `block  w-full px-4 py-2 text-sm text-gray-700 hover:${primary} hover:text-white`;
            });
            
            // Update balance box colors
            const balanceBoxes = document.querySelectorAll('#balance-boxes > div');
            balanceBoxes.forEach((box, index) => { 
                const balanceElement = box.querySelector(`#balance${index + 1}`);
                if (balanceElement) {
                    balanceElement.className = `text-3xl font-bold ${accent}`;
                }
            });
            
            // Highlight the active button
            highlightActiveButton();

            // Save the selected palette to localStorage
            localStorage.setItem('colorPalette', palette);
        }

        // Show the selected form
        function showForm(formType) {
            const container = document.getElementById('form-container');
            const expenseForm = document.getElementById('expense-form');
            const fundsForm = document.getElementById('funds-form');
            const paymentForm = document.getElementById('payment-form');
            const funds_history_container = document.getElementById('funds_history_section');
            const expenses_history_container = document.getElementById('expenses_history_section');
            // Save the last displayed form to localStorage
            localStorage.setItem('lastDisplayedForm', formType);

            container.classList.add('form-exit');
            
            setTimeout(() => {
                expenseForm.classList.add('hidden');
                fundsForm.classList.add('hidden');
                paymentForm.classList.add('hidden');
                funds_history_container.classList.add('hidden');
                expenses_history_container.classList.add('hidden');

                switch(formType) {
                    case 'expense':
                        expenseForm.classList.remove('hidden');
                        expenses_history_container.classList.remove('hidden');
                        break;
                    case 'funds':
                        fundsForm.classList.remove('hidden');
                        funds_history_container.classList.remove('hidden');
                        break;
                    case 'add_payment_method':
                        paymentForm.classList.remove('hidden');
                        break;
                }

                container.classList.remove('form-exit');
                container.classList.add('form-enter');

                setTimeout(() => {
                    container.classList.remove('form-enter');
                }, 300);
                // Update button styles
                highlightActiveButton(formType);
            }, 300);
        }

        // Highlight the active button
        function highlightActiveButton(activeForm = 'expense') {
            const expenseBtn = document.getElementById('expense-btn');
            const fundsBtn = document.getElementById('funds-btn');
            const paymentBtn = document.getElementById('payment-btn');
            const palette = document.getElementById('color-palette').value;

            let primary, secondary;

            switch (palette) {
                case 'indigo':
                    primary = 'bg-indigo-600 hover:bg-indigo-700';
                    secondary = 'bg-blue-500 hover:bg-blue-600';
                    break;
                case 'emerald':
                    primary = 'bg-emerald-600 hover:bg-emerald-700';
                    secondary = 'bg-teal-500 hover:bg-teal-600';
                    break;
                case 'amber':
                    primary = 'bg-amber-600 hover:bg-amber-700';
                    secondary = 'bg-orange-500 hover:bg-orange-600';
                    break;
                case 'rose':
                    primary = 'bg-rose-600 hover:bg-rose-700';
                    secondary = 'bg-pink-500 hover:bg-pink-600';
                    break;
            }

            const buttonBase = `px-4 py-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-50 transition-colors duration-300`;
            const activeClass = `${buttonBase} ${primary} text-white shadow-lg transform scale-105`;
            const inactiveClass = `${buttonBase} ${secondary} text-white`;

            expenseBtn.className = activeForm === 'expense' ? activeClass : inactiveClass;
            fundsBtn.className = activeForm === 'funds' ? activeClass : inactiveClass;
            paymentBtn.className = activeForm === 'add_payment_method' ? activeClass : inactiveClass;
        }

        // On page load, show the last displayed form if it exists
        window.onload = function() {
            const lastDisplayedForm = localStorage.getItem('lastDisplayedForm') || 'expense'; // Default to 'expense' if not found
            showForm(lastDisplayedForm);
        };
    </script>
</body>
</html>